 
html,
body {
    height: 100%;
}
.hidden {
    visibility: hidden;
    display: none;
}
.border-around {
    border: 1px solid #cccccc;
}
.text-line-through {
    text-decoration: line-through !important;
}
.checkbox input[type="checkbox"] {
    position: absolute !important;
    visibility: hidden;
}
.radio label, .checkbox label {
    padding-left: 0 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.element-link {
    color: #000 !important;
}
.element-link:hover {
    color: #000 !important;
    text-decoration: none;
}
.element-link:active {
    color: #000 !important;
    text-decoration: none;
}
.element-card {
    background-color: #fff;
    transition-duration: 0.2s;
    margin: 10px;
}
.element-card:hover {
    cursor: pointer;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 40px;
}
.m-l-xl {
    margin-left: 60px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 40px;
}
.m-t-xl {
    margin-top: 60px;
}
.m-b-zero {
    margin-bottom: 0;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 40px;
}
.m-b-xl {
    margin-bottom: 60px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 40px;
}
.m-r-xl {
    margin-right: 60px;
}
.p-l-xs {
    padding-left: 5px;
}
.p-l-sm {
    padding-left: 10px;
}
.p-l-md {
    padding-left: 20px;
}
.p-l-lg {
    padding-left: 40px;
}
.p-l-xl {
    padding-left: 60px;
}
.p-t-xs {
    padding-top: 5px;
}
.p-t-sm {
    padding-top: 10px;
}
.p-t-md {
    padding-top: 20px;
}
.p-t-lg {
    padding-top: 40px;
}
.p-t-xl {
    padding-top: 60px;
}
.p-b-zero {
    padding-bottom: 0;
}
.p-b-sm {
    padding-bottom: 10px;
}
.p-b-md {
    padding-bottom: 20px;
}
.p-b-lg {
    padding-bottom: 40px;
}
.p-b-xl {
    padding-bottom: 60px;
}
.p-r-xs {
    padding-right: 5px;
}
.p-r-sm {
    padding-right: 10px;
}
.p-r-md {
    padding-right: 20px;
}
.p-r-lg {
    padding-right: 40px;
}
.p-r-xl {
    padding-right: 60px;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.note-control-selection-info {
    display: none !important;
}
.note-control-selection-bg {
    display: none !important;
}
.note-control-sizing {
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-top: 0 !important;
    border-left: 0 !important;
}
.note-control-se {
    right: -5px;
    bottom: -5px;
    border-top: 0;
    border-left: 0;
    cursor: none !important;
}
.input-xs {
    height: 28px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-xs {
    height: 28px;
    line-height: 28px;
}
textarea.input-xs,
select[multiple].input-sm {
    height: auto;
}
.addon-xs {
    padding: 6px 6px !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group-sm label {
    font-size: 12px;
    font-weight: bolder;
}