body
{
	margin: 0;
	padding: 50;
	color: #555;
	font: normal 10pt Arial,Helvetica,Verdana,"DejaVu Sans","Bitstream Vera Sans",Geneva,sans-serif;
	background: #EFEFEF;
}

h1
{
	font-size: 1.6em;
	color: #666;
}

h2
{
	font-size: 1.4em;
	color: #666;
}

h3
{
	font-size: 1.2em;
	color: #666;
}

#page
{
	margin-top: 15px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	padding: 10px;
	margin: 0px 20px;
	border-bottom: 1px solid #C9E0ED;
}

#content
{
    padding: 20px;
    min-height: 800px;
}

#sidebar
{
	padding: 20px 0 20px 20px;
}

#footer
{
	margin: 0 auto;
	width: 950px;
	font-size: 0.8em;
	text-align: center;
}

#logo
{
	padding: 5px 0px;
}

#logo a
{
	text-decoration: none;
}

#header .top-menus
{
	margin: 20px 0px;
	float: right;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #79B4DC;
	border-left: 5px solid #6293B3;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: white;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

div.form
{
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.form .row
{
	margin: 5px 0;
}

div.form .row.buttons
{
	padding: 5px;
	margin: 10px 0;
}

div.form .row.buttons input
{
	margin: 0;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;
}

div.form div.error label,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}

div.form .tooltip
{
	display: none;
    background-color:#EFFDFF;
    border:1px solid #79B4DC;
    padding: 10px;
    width: 300px;
}

div.form .tooltip ul
{
	margin: 0;
	padding: 10px 0 0 20px;
}

div.form .tooltip code
{
	color: #CA0EE3;
	font-size:0.9em;
}

div.form.login
{
	border: 1px solid #C9E0ED;
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 10px 10px 10px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.form.login p
{
	margin: 0 0 10px 0;
}

div.form.gii .row.sticky .value, span.sticky
{
	padding: 3px;
	background: lightyellow;
}

div.form.gii .row.template select
{
	width: 420px;
}

div.form.gii table.preview
{
	border-collapse: collapse;
}

div.form.gii table.preview th
{
	text-align: center;
}

div.form.gii table.preview th.confirm
{
	text-align: right;
}

div.form.gii table.preview th.confirm label
{
	display: inline;
}

div.form.gii table.preview td.confirm
{
	width: 80px;
	text-align: right;
}

div.form.gii table.preview td.confirm input
{
	margin:0;
}

div.form.gii table.preview td.confirm label
{
	display: inline;
	font-weight: normal;
}

div.form.gii table.preview,
div.form.gii table.preview th,
div.form.gii table.preview td
{
	border: 1px solid #529EC6;
}

div.form.gii table.preview tr.skip
{
	background-color: #eee;
}

div.form.gii table.preview tr.new
{
	background-color: #C5FBBD;
}

div.form.gii table.preview tr.overwrite
{
	background-color: #FFE0E1;
}

div.form.gii pre.results
{
	overflow: auto;
	background-color: gray;
	max-height: 300px;
	color: white;
	padding: 10px;
}

div.form.gii div.success
{
	background: #C5FBBD;
	border: 1px solid #76C376;
	padding: 10px;
	margin: 10px 0;
}

div.form.gii div.error
{
	background: #FFE0E1;
	border: 1px solid #FFA0A2;
	padding: 10px;
	margin: 10px 0;
}

div.form.gii div.success code
{
	overflow: auto;
	display: block;
	padding: 5px;
	font-size: 12px;
	background: white;
}

div.form.gii pre.results span.error
{
	background: #FFE0E1;
	color: black;
	padding: 1px;
}

#fancybox-inner .error
{
	color: red;
}

#fancybox-inner .title
{
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

#fancybox-inner .buttons
{
	float: right;
	padding: 0 10px 0 0;
}

#fancybox-inner .content
{
	background: #F0F4FF;
	text-align: left;
}

#fancybox-inner pre.diff
{
	margin:0;
}

#fancybox-inner pre.diff del
{
	background: pink;
}

#fancybox-inner pre.diff ins
{
	background: lightgreen;
	text-decoration: none;
}

#fancybox-wrap #tip7-title
{
	text-align: left;
}

#fancybox-wrap #tip7-title b
{
	display: block;
}

#fancybox-wrap #tip7-title span
{
	float: right;
}
